*{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
.header{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.6), rgba(4,9,30,0.1)), url(images/LaTronche.jpg); /**/
	background-position: center;
	background-size: cover; /*auto*/
	background-repeat: no-repeat;
	position: relative;
}
nav{
	display: flex;
	padding: 1% 2%;
	justify-content: space-between;
	align-items: center;
}
nav img{
	width: 70%;
}
.nav-links{
	flex: 1;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	color: #fDB;
	text-decoration: none;
	font-size: 30px;
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 3px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width: 100%;
}
.text-box{
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	/*font-size: 70px;*/
}
.text-box h1{
	font-size: 60px;
	color: #BDf;
}
.text-box p{
	margin: 10px 0 40px;
	font-size: 45px;
	color: #fDD;
}
.hero-btn{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 23px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.hero-btn:hover{
	border: 1px solid #f44336;
	background: #f44336;
	transition: 1s;
}

@media(max-width: 700px){
	.text-box h1{
	margin: 20px 0 1px;
	font-size: 20px;
}
.text-box p{
	margin: 20px 0 1px;
	font-size: 15px;
}
.nav-links ul li a{
	font-size: 10px;
	/*padding: 8px 12px;*/
}
/*nav img{
	width: 50%;
}*/
.hero-btn{
	margin: 20px 0 1px;
	border: 1px solid #fff;
	padding: 5px 8px;
	font-size: 15px;
}
}